# 환경
venv/
__pycache__/
build/
dist/
*.egg-info/
*.so
*.c
*.pyd
.ipynb_checkpoints
.DS_Store

# 내부 테스트 관련 코드들 트래킹에서 제외
_test.py
_test*.py
_test.ipynb
_test*.ipynb
_test
_archive

# 파일
config.json
Note.md
라이브러리 설명.md
외부망 내부망 동기화 워크플로우.md
피드백_이현창.md
bok-da.bundle
bok-da.7z